In [1]:
// Expression: 값을 반환하는 코드의 단위
"Hello"
"a" + "b"

res0_0: String = "Hello"
res0_1: String = "ab"

In [3]:
// This is Expression Block
// Expression Block return some value.
// value x is "intended" to define amount.
val amount = { val x = 5 * 20; x + 10 }

amount: Int = 110

In [4]:
// This is statement
// Statement does not return any value. (Unit)
val amount = 1

amount: Int = 1

In [6]:
// If statements
val x = 10

if (x > 5)
    println("x is greater than 5.")
else
    println("x is smaller than 5")

x is greater than 5.

x: Int = 10

In [7]:
// If expressions
val x = 5
val y = 10

val max = if (x > y) x else y

x: Int = 5
y: Int = 10
max: Int = 10

In [8]:
// match expressions
val x = 5
val y = 10

val max = x > y match {
    case true => x
    case false => y
}

x: Int = 5
y: Int = 10
max: Int = 10

In [9]:
val response = 200

val message = response match {
    case 200 => "ok"
    case 300 => {
        println("Helo this is Scala!")
        "error 1"
    }
    case 400 => {
        println("My name is tura")
        "error 2"
    }
}

print(message)

ok

response: Int = 200
message: String = "ok"

In [14]:
// using value binding
val op = "integral"

val str = op match {
    case "+" => "ADD"
    case "-" => "SUBTRACT"
    case "*" | "x" => "MULTIPLY"
    case "/" => "DIVIDE" // alternatives
    case other => {
        println(s"Well, $other is not basic operation.. Maybe.")
    }
}

print(str)

Well, integral is not basic operation.. Maybe.
()

op: String = "integral"
str: Any = ()

In [15]:
// Using wildcard
val op = "integral"

val str = op match {
    case "+" => "ADD"
    case "-" => "SUBTRACT"
    case "*" | "x" => "MULTIPLY"
    case "/" => "DIVIDE" // alternatives
    case _ => {
        println(s"Well, $op is not basic operation.. Maybe.")
    }
}

print(str)

Well, integral is not basic operation.. Maybe.
()

op: String = "integral"
str: Any = ()

In [17]:
// Pattern guard! 
val s = null

val result = s match {
    case value if value != null => println(s"Hello, $value!")
    case value => println("null..............")
}

null..............

s: Null = null

In [28]:
// Identify real type using match
val any:Any = 123l

val result = any match {
    case x:String => s"'$x'"
    case x:Int => s"${x} Int"
    case x:Long => s"${x} Long"
    case x:Double => f"${x}%.2f Double"
    case x:Float => f"${x}%.2f Float"
}

any: Any = 123
result: String = "123 Long"

In [30]:
// get int ranges

1 to 7    // inclusive
1 until 7 // exclusive

res29_0: Range.Inclusive = Range(1, 2, 3, 4, 5, 6, 7)
res29_1: Range = Range(1, 2, 3, 4, 5, 6)

In [34]:
// Simple for loop
for (x <- 1 to 10) print(s"$x ")

// yield collection
val col = for (x <- 1 to 10) yield x

1 2 3 4 5 6 7 8 9 10

col: collection.immutable.IndexedSeq[Int] = Vector(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [39]:
// iterator guard (filter)
for (x <- 1 to 100 if Math.round(Math.sqrt(x)) == Math.sqrt(x)) print(s"$x ")
println()

// blocks...
val cities = "Seoul,Busan,SeongNam"
for {
    x <- cities.split(",")
    if x != null
    if x.size > 0 && x.size < 7
} {
    println(x)
}

1 4 9 16 25 36 49 64 81 100
Seoul
Busan

cities: String = "Seoul,Busan,SeongNam"

In [47]:
// nested loop
for { x <- 1 to 3 
      y <- 1 to 3 } {
    val res = x * y
    println(s"$x * $y = $res")
}

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [48]:
// nested loop (using value binding)
for { x <- 1 to 3 
      y <- 1 to 3 
      val res = x * y } yield {
    println(s"$x * $y = $res")
    res
}

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

res47: collection.immutable.IndexedSeq[Int] = Vector(1, 2, 3, 2, 4, 6, 3, 6, 9)

In [52]:
val name = ""

val result = name match {
    case x if !x.isEmpty => x
    case x => "n/a"
}

name: String = ""
result: String = "n/a"

In [56]:
val amount:Double = -1

val result = { 
    if (amount > 0) "greater"
    else if (amount == 0) "same"
    else "less"
}

val resultUsingMatch = amount match {
    case x if (x > 0) => "greater"
    case x if (x == 0) => "same"
    case _ => "less"
}

amount: Double = -1.0
result: String = "less"
resultUsingMatch: String = "less"

In [59]:
for (x <- 1 to 100) {
    print(s"$x, ")
    if (x%5 == 0)
        println()
}

1, 2, 3, 4, 5,
6, 7, 8, 9, 10,
11, 12, 13, 14, 15,
16, 17, 18, 19, 20,
21, 22, 23, 24, 25,
26, 27, 28, 29, 30,
31, 32, 33, 34, 35,
36, 37, 38, 39, 40,
41, 42, 43, 44, 45,
46, 47, 48, 49, 50,
51, 52, 53, 54, 55,
56, 57, 58, 59, 60,
61, 62, 63, 64, 65,
66, 67, 68, 69, 70,
71, 72, 73, 74, 75,
76, 77, 78, 79, 80,
81, 82, 83, 84, 85,
86, 87, 88, 89, 90,
91, 92, 93, 94, 95,
96, 97, 98, 99, 100,

In [61]:
for { x <- 1 to 100
      val res = x match {
          case x if x%3 == 0 && x%5 == 0 => "typesafe"
          case x if x%3 == 0 => "type"
          case x if x%5 == 0 => "safe"
          case x => x
      }
    } print(s"$res ")

1 2 type 4 safe type 7 8 type safe 11 type 13 14 typesafe 16 17 type 19 safe type 22 23 type safe 26 type 28 29 typesafe 31 32 type 34 safe type 37 38 type safe 41 type 43 44 typesafe 46 47 type 49 safe type 52 53 type safe 56 type 58 59 typesafe 61 62 type 64 safe type 67 68 type safe 71 type 73 74 typesafe 76 77 type 79 safe type 82 83 type safe 86 type 88 89 typesafe 91 92 type 94 safe type 97 98 type safe

In [64]:
for (x <- 1 to 100) print({if (x%3 == 0 && x%5 == 0) "typesafe" else if (x%3 == 0) "type" else if (x%5 == 0) "safe" else x} + " ")

1 2 type 4 safe type 7 8 type safe 11 type 13 14 typesafe 16 17 type 19 safe type 22 23 type safe 26 type 28 29 typesafe 31 32 type 34 safe type 37 38 type safe 41 type 43 44 typesafe 46 47 type 49 safe type 52 53 type safe 56 type 58 59 typesafe 61 62 type 64 safe type 67 68 type safe 71 type 73 74 typesafe 76 77 type 79 safe type 82 83 type safe 86 type 88 89 typesafe 91 92 type 94 safe type 97 98 type safe